{
  email {$CADDY_ACME_EMAIL}
}

app.plannerus.com {
  encode zstd gzip

  header {
    -Server
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "SAMEORIGIN"
    Referrer-Policy "strict-origin-when-cross-origin"
  }

  import /etc/caddy/state/upstream.caddy
}

blue.plannerus.com {
  redir https://app.plannerus.com{uri} permanent
}
